<template>
    <button @click="enterLoadingState()">
        <template v-if="isLoading">
            <i :class="loadingIcon"></i>
            {{ loadingText }}...
        </template>
        <template v-else>
            <slot></slot>
        </template>
    </button>
</template>

<script>
    export default {
        props: {
            loadingIcon: {
                type: String,
                default: "fas fa-circle-notch fa-spin",
            },
            loadingText: {
                type: String,
                default: "Loading",
            },
        },

        data() {
            return {
                isLoading: false,
            }
        },

        methods: {
            enterLoadingState() {
                this.isLoading = true
            },
        },
    }
</script>
